@model CheckoutModelView;
@{
	Layout = "_Mylayout";
	var checkoutModel = new CheckoutModelView();
}


<head>

	
</head>
<body>

	<div class="untree_co-section">
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-12">
					<div class="border p-4 rounded" role="alert">
						Returning customer? <a href="#">Click here</a> to login
					</div>
				</div>
			</div>
			<form method="post">
			<div class="row">
				<div class="col-md-6 mb-5 mb-md-0">
					<h2 class="h3 mb-3 text-black">Billing Details</h2>
					
					<div class="p-3 p-lg-5 border bg-white">
						
						<div asp-validation-summary="All" class="text-danger"></div>
						<div class="form-group row">
							<div class="col-md-6">
									
									<label asp-for="Fisrt_name" class="text-black">First Name <span class="text-danger">*</span></label>
									<input asp-for="Fisrt_name" class="form-control" />
									<span style="color:red" asp-validation-for="Fisrt_name"></span>
									
							</div>
							<div class="col-md-6">
									<label asp-for="Last_name"  class="text-black">Last Name <span class="text-danger">*</span></label>
									<input asp-for="Last_name" type="text" class="form-control" >
									<span style="color:red" asp-validation-for="Last_name"></span>
							</div>
						</div>


						<div class="form-group row">
							<div class="col-md-12">
									<label asp-for="@Model.Address" f class="text-black">Address <span class="text-danger">*</span></label>
									<input asp-for="@Model.Address" type="text" class="form-control" placeholder="Street address">
									<span style="color:red" asp-validation-for="Address"></span>
							</div>
						</div>



						<div class="form-group row">
							<div class="col-md-6">
								<label asp-for="@Model.City"  class="text-black">City<span class="text-danger">*</span></label>
							    <input asp-for="@Model.City" type="text" class="form-control"  >
									<span style="color:red" asp-validation-for="City"></span>
								
							</div>
							<div class="col-md-6">
									<label asp-for="@Model.Posta_code" class="text-black">Posta / Zip <span class="text-danger">*</span></label>
									<input asp-for="@Model.Posta_code" type="text" class="form-control" >
									<span style="color:red" asp-validation-for="@Model.Posta_code"></span>
							</div>
						</div>

						<div class="form-group row mb-5">
							<div class="col-md-6">
									<label asp-for="@Model.Email"  class="text-black">Email Address <span class="text-danger">*</span></label>
									<input asp-for="@Model.Email" type="text" class="form-control" >
									<span style="color:red" asp-validation-for="@Model.Email"></span>
							</div>
							<div class="col-md-6">
									<label asp-for="@Model.Phone_number" class="text-black">Phone <span class="text-danger">*</span></label>
									<input asp-for="@Model.Phone_number" type="text" class="form-control"  placeholder="Phone Number">
									<span style="color:red" asp-validation-for="Phone_number"></span>
							</div>
						</div>

						<div class="form-group">
								<label asp-for="@Model.Note"  class="text-black">Order Notes</label>
								<textarea asp-for="@Model.Note" cols="30" rows="5" class="form-control" placeholder="Write your notes here..."></textarea>
								<span style="color:red" asp-validation-for="Note"></span>
						</div>

							<div class="form-group">
								<label asp-for="@Model." class="text-black">Order Notes</label>
								<textarea asp-for="@Model.Note" cols="30" rows="5" class="form-control" placeholder="Write your notes here..."></textarea>
								
							</div>
						
					</div>

						
			
				</div>
				<div class="col-md-6">

					<div class="row mb-5">
						<div class="col-md-12">
							<h2 class="h3 mb-3 text-black">Coupon Code</h2>
							<div class="p-3 p-lg-5 border bg-white">

								<label for="c_code" class="text-black mb-3">Enter your coupon code if you have one</label>
								<div class="input-group w-75 couponcode-wrap">
									<input type="text" class="form-control me-2" id="coupon" placeholder="Coupon Code" aria-label="Coupon Code" aria-describedby="button-addon2">
									<div class="input-group-append">
										<button onclick="Coupon()" class="btn btn-black">Apply</button>
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="row mb-5">
						<div class="col-md-12">
							<h2 class="h3 mb-3 text-black">Your Order</h2>
							<div class="p-3 p-lg-5 border bg-white">
								<table class="table site-block-order-table mb-5">
									<thead>
										<tr>
											<th>Product</th>
											<th>Total</th>
										</tr>
									</thead>
									<tbody>
											@foreach (var cart in @Model?.CartView ?? new List<CartModelView>())
										{
											<tr>
												<td>@cart.Name<strong class="mx-2">x</strong>@cart.Quantity</td>
												<td>$@cart.Total_Price</td>
											</tr>
										}

										<tr>
											<td class="text-black font-weight-bold"><strong>Order Total</strong></td>
											<td class="text-black font-weight-bold"><strong>$ @Model?.total_price </strong></td>
										</tr>

									</tbody>
								</table>

								<div class="border p-3 mb-3">
									<h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Direct Bank Transfer</a></h3>

									<div class="collapse" id="collapsebank">
										<div class="py-2">
											<p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
										</div>
									</div>
								</div>

								<div class="border p-3 mb-3">
									<h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsecheque" role="button" aria-expanded="false" aria-controls="collapsecheque">Cheque Payment</a></h3>

									<div class="collapse" id="collapsecheque">
										<div class="py-2">
											<p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
										</div>
									</div>
								</div>

								<div class="border p-3 mb-5">
									<h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsepaypal" role="button" aria-expanded="false" aria-controls="collapsepaypal">Paypal</a></h3>

									<div class="collapse" id="collapsepaypal">
										<div class="py-2">
											<p class="mb-0">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
										</div>
									</div>
								</div>
									

									<div class="form-group">
										<button type="submit" class="btn btn-black btn-lg py-3 btn-block" asp-action="Orders" asp-controller="Order">Place Order</button>
									</div>

							</div>
						</div>
					</div>
					
				</div>
			</div>
					
			</form>


			<!-- </form> -->
		</div>
	</div>

	 @section Scripts {

		 <script>

			 function Order_item() {



				 $.ajax(
					 {

					 }
				 )
			 }
		 </script>

	 }

	 
</body>
